<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="gameScreen"oncontextmenu="return false"></canvas>
    <script src="/javascripts/libs/socketio.js"></script>
    <script src="/javascripts/libs/jquery.js"></script>
    <script src="/javascripts/libs/lodash.js"></script>
    <script src="/javascripts/libs/jquery-cookie.js"></script>
    <script src="/javascripts/drawing/helper.js"></script>
    <script src="/javascripts/drawing/draw.js"></script>
    <script src="/javascripts/drawing/map.js"></script>
    <script src="/javascripts/drawing/inventoryArtist.js"></script>
    <script src="/javascripts/buildings/buildingFactory.js"></script>
    <script src="/javascripts/buildings/buildingSpecs.js"></script>
    <script src="/javascripts/buildings/buildingInterface.js"></script>
    <script src="/javascripts/transfer/cache.js"></script>
    <script src="/javascripts/transfer/incomingevents.js"></script>
    <script src="/javascripts/transfer/outgoingevents.js"></script>
    <script src="/javascripts/collision.js"></script>
    <script src="/javascripts/controls.js"></script>
    <script src="/javascripts/chunkInterpreter.js"></script>
    <script src="/javascripts/player.js"></script>
    <script src="/javascripts/update.js"></script>
    <script src="/javascripts/transforms.js"></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>