<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-cookie.js"></script>
    <script src="/javascripts/redirectIfNameSet.js"></script>
  </head>
  <body>
    <form id="newCharacter" method="POST" action="/createCharacter">
      <label for="characterName" value="Enter a name"/>
      <input name="characterName"/>
      <input type="submit"/>
    </form>
  </body>
</html>
