<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/character-name.css' />
    <script src="/javascripts/libs/jquery.js"></script>
    <script src="/javascripts/libs/jquery-cookie.js"></script>
    <script src="/javascripts/forms/redirectIfNameSet.js"></script>
  </head>
  <body>
  <div id="newCharacter">
    <h1>Welcome to Green World</h1>
    <form method="POST" action="/createCharacter">
      <%if(error){%>
        <p class="error"><%= error %></p>
        <%}%>
      <label for="characterName">Enter a name:</label>
      <input name="characterName" type="text"/>
      <input type="submit"/>
    </form>
    </div>
  </body>
</html>
