<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="screen" width="1024" height="720"></canvas>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/draw.js"></script>
    <script src="/javascripts/events.js"></script>
    <script src="/javascripts/update.js"></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
