body {
	margin:0;
	padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, #gameScreen {
  width:  100%;
  height: 100%;}

#newCharacter {
	width: 250px;
	height: 250px;
	margin: 500px auto 0 auto;
}